html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
	margin: 0;
	padding: 0;
}
html,body{
	text-align: center;
}
a{
	text-decoration: none;
}
section{
	position: absolute;
	width: 100%
}
.wrapper{
	position: absolute;
	width: 100%;
	height: 320%;
}
.section_1{
	background: url(../img/background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 32%;
	z-index: -1;
}
.section_1 h1{
	font-size: 27px; 
	letter-spacing: 25px;
	margin-left: 20px;
	color: #404041;
	font-weight: lighter;
}
.section_1 img{
	margin-top: 12%;
}
.section_2{
	background-color: #353536;
	height: 18%;
	top: 32%;
	font-size: 40px;
	font-family: Oswald,sans-serif;
	font-weight: bold;
	color: #e8e8e9;
	letter-spacing: 2px;
	display: table;
}
.section_2 p{
	display: table-cell;
    vertical-align: middle;
}
.section_2	span{
	color: #00a9ab;
}
.section_3{
	background-color: #e8e8e9;
	height: 18%;
	top: 50%;
	color: #353536;
	display: table;
}
#section_3_text{
	display: table-cell;
    vertical-align: middle;
}
.section_3 h2{
	font-size: 37px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: Oswald,sans-serif;
}
.section_3 p{
	font-size: 23px;
	font-family: 'Lato', sans-serif;
	padding: 0 20% 0 20%;
	margin-top: 10px;
}
.section_4{
	height: 18%;
	top: 68%;
	color: #353536;
	display: table;
}
#section_4_text{
	display: table-cell;
    vertical-align: middle;
}
.section_4 h2{
	font-size: 37px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: Oswald,sans-serif;
}
.section_4 p{
	font-size: 23px;
	font-family: 'Lato', sans-serif;
	padding: 0 20% 0 20%;
	margin-top: 10px;
}
.section_5{
	background-color: #00a9ab;
	height: 13%;
	top: 86%;
	display: table;
}
#section_5_text{
	display: table-cell;
    vertical-align: middle;
}
.section_5 h2{
	text-transform: uppercase;
	color: white;
	margin-top: -25px;
}
.section_5 .button-contacto{
	background-color: #e8e8e9;
	height: 50px;
	width: 250px;
	text-align: middle;
	line-height: 50px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	color: #5d5d5d;
}
.section_5 p{
	font-size: 23px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 25px;
}
footer{
	position: absolute;
	background-color: #353536;
	width: 100%;
	bottom: 0;
	padding: 8px 0 6px 0;
}
footer a{
	padding-left: 5px;
}
/*=========================== LightBox Menu ===========================*/
.lightbox-menu{
	background-image: url(../img/lightbox-bg.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 11;
}
/*=========================== Section Menu ===========================*/
.section-menu{
	background-color: #999FA3;
	border-radius: 5px;
	cursor: pointer;
	height: 80px;
	opacity: .5;
	position: fixed;
	right: 5%;
	top: 5%;
	width: 65px;
	z-index: 10;
}
.section-menu span{
	border-radius: 3px;
	background-color: white;
	height: 5px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	top: 23px;
	width: 40px;
}
#line-2{
	margin-top: -3.5px;
	top: 50%;
}	
#line-3{
	top: 50px;
}	
.section-menu:hover{
	opacity: 1;
}
.section-menu-rotation{
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 16px;
}
.section-menu-rotation-back{
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -12px;
}
.section-menu-time{
	-webkit-transition: all 0.6s ease-out; 
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
} 
/*=========================== Menu ===========================*/
.nav-section-container{
	height: 100%;
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}
.lightbox-section{
	position: absolute;
	top: 7%;
	border-radius: 15px;
}
#section-1{
	height: 280px;
	width: 280px;
	left: 0;
	background: url(../img/social-menu.jpg) no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#section-2{
	left: 50%;
	margin-left: -140px;
	height: 280px;
	width: 280px;
	background: url(../img/web-menu.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}
#section-2 p{
	padding-top: 90px; 
	line-height: 50px;
}	
#section-3{
	height: 280px;
	width: 280px;
	right: 0;
	background: url(../img/portafolio-menu.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#section-4{
	top: 55%;
	height: 280px;
	width: 280px;
	left: 12%;
	background: url(../img/portafolio-menu.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
#section-5{
	top: 55%;
	right: 12%;
	bottom: 1000px;
	height: 280px;
	width: 280px;
	background: url(../img/branding-menu.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.black-filter{
	background-color: black;
	border-radius: 15px;
	color: white;
	font-size: 280%;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	height: 100%;
	opacity: .6;
	text-transform: uppercase;
	line-height: 280px;
	display: table;
    width: 100%;
}
.black-filter:hover{
	background-color: transparent;
	color: black;
}
/*=========================== Phone media query ===========================*/
@media (max-width:500px){
	.section_1 img{
		height: 55px;
		margin-top: 40% !important;
	}
	.section_1 	h1{
		font-size: 21px;
		letter-spacing: 10px;
		margin-left: 10px
	}
	.nav-section-container{
		top: 6%;
	}
	.black-filter{
		line-height: initial;
	}
	#section-1{
		height: 12%;
		width: 290px;
		top: 17%;
		left: 307px;
		margin-left: 0;
		font-size: 40% !important;
		vertical-align: middle;
		line-height: 26px;
	}
	#section-2{
		height: 12%;
		width: 290px;
		top: 30%;
		left: 307px;
		margin-left: 0;
		font-size: 40% !important;	
	}		
	#section-3{
		height: 12%;
		width: 290px;
		top: 43%; 
		left: 307px;
		margin-left: 0;
		font-size: 40% !important;	
	}
	#section-4 {
		height: 12%;
		width: 290px; 
		top: 56%;
		left: 307px;
		margin-left: 0;
		font-size: 40% !important;	
	}
	#section-5 {
		height: 12%; 
		width: 290px;
		top: 69%; 
		left: 307px;
		margin-left: 0;
		font-size: 40% !important;	
	}
	.section_2{
		font-size: 30px;
	}
	.section_3 h2{
		font-size: 20px;
	}
	.section_3 p{
		font-size: 14px;
		padding: 0 12px 0 12px;
	}
	.section_4 h2{
		font-size: 20px;
	}
	.section_4 p{
		font-size: 14px;
		padding: 0 12px 0 12px;
	}
	.section_5 h2{
		font-size: 17px;
		margin-top: -10%;
	}
	.section_5 .button-contacto{
		width: 160px;
    	height: 40px;
    	line-height: 40px;
	}
	.section_5 p{
		font-size: 17px;
		margin-top: 0;
	}
	/* ====== ====== ====== ====== ====== Helpers phone Query====== ====== ====== ====== ======*/
	.center-menu-item{
		padding-top: 20px !important;
   	 	line-height: initial !important;
   	 	letter-spacing: 1px;
   	 	font-size: 20px;
	}
	.section-titles{
		font-size: 28px !important;
	}
	.section-titles	span{
		position: relative;
		top: 20px;
	}
	.text-list-size li{
		font-size: 17px !important;
	}
	/* ====== ====== ====== ====== ====== Web Dev Section Phone Query====== ====== ====== ====== ======*/
	.wrapper-web-dev .description-container	h2{
		font-size: 19px;
	}
}
/*=========================== Phone (landscape small tablet) media query ===========================*/
@media (min-width:501px) and  (max-width:650px){
	.section_2{
		font-size: 35px;
	}
	.section_3 h2{
		font-size: 20px;
	}
	.section_3 p{
		font-size: 15px;
		padding: initial;
	}
	.section_4 h2{
		font-size: 20px;
	}
	.section_4 p{
		font-size: 15px;
		padding: initial;
	}
	.nav-section-container{
		top: 10px;
	}
	#section-1{
		top: 19%;
	}
	#section-2{
		top: 32%;
	}
	#section-3{
		top: 45%;
	}
	#section-4{
		top: 58%;
	}
	#section-5{
		top: 71%;
	}
	.section-titles{
		font-size: 25px !important;
	}
	.section_5 h2 {
	    font-size: 20px;
	    margin-top: -9%;
	}
	.section_5 .button-contacto {
	    height: 40px;
	    width: 200px;
	    line-height: 40px;
	}
	.section_5 p{
		font-size: 19px;
        margin-top: initial;
	}
	/* ====== ====== ====== ====== ====== Helpers phone/Tablet Query====== ====== ====== ====== ======*/
	.center-menu{
		height: 12% !important;
		width: 400px !important;
		left: 255px !important;
		margin-left: 0 !important;
		letter-spacing: 1px;
		line-height: 26px !important;
	}
	.center-menu-item{
   	 	line-height: initial !important;
   	 	letter-spacing: 1px;
   	 	font-size: 20px;
   	 	display: table-cell;
    	vertical-align: middle;
    	padding-top: initial !important;
	}
}
/*=========================== Tablet media query ===========================*/
@media (min-width:651px) and  (max-width:937px){
	.section_3 p{
		font-size: 18px;
		padding: initial;
	}
	.section_4 p{
		font-size: 18px;
		padding: initial;
	}
	.nav-section-container{
		top: 10px;
	}
	#section-1{
		top: 19%;
	}
	#section-2{
		top: 32%;
	}
	#section-3{
		top: 45%;
	}
	#section-4{
		top: 58%;
	}
	#section-5{
		top: 71%;
	}
	/* ====== ====== ====== ====== ====== Helpers Tablet Query====== ====== ====== ====== ======*/
	.center-menu{
		height: 12% !important;
		width: 400px !important;
		left: 255px !important;
		margin-left: 0 !important;
		letter-spacing: 1px;
		line-height: 26px !important;
	}
	.center-menu-item{
		padding-top: 18px !important;
   	 	line-height: initial !important;
   	 	letter-spacing: 1px;
   	 	font-size: 28px;
	}
	/* ====== ====== ====== ====== ====== Social Media Section Query ====== ====== ====== ====== ======*/
	.description-container li{
		display: initial !important;
	}	
	#icon_5 {
	    margin-left: initial;
	}
	#icon_6 {
	    margin-left: initial;
	}
}
@media (min-width:1000px){
/*	#icon_5 {
	    margin-left: 94px;
	}
	#icon_6 {
	    margin-left: 12px;
	}*/
}
/* ====== ====== ====== ====== ====== Helpers ====== ====== ====== ====== ======*/
.filter{
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	display: block;
	opacity: .6;
	top: 0;
}
.section-titles{
	letter-spacing: 0;
	padding: 10% 5% 0 5%;
	color: white;
	font-size: 38px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	position: absolute;
	font-weight: 500 !important;
}
.description-container{
	width: 100%;
	position: absolute;
	top: 85%;
	font-family: 'Lato', sans-serif;
}
.description-container li{
	color: white;
	font-size: 20px;
}		
.description-container p {
	padding: 0 35px 35px 35px;
}
.section-full-screen{
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}		
/* ====== ====== ====== ====== ====== Social Media Section ====== ====== ====== ====== ======*/
.wrapper-social-media{
	background: url(../img/socialmedia.jpg) no-repeat center center; 
}
.wrapper-social-media .description-container{
	background-color: #3B8C8E;	
}
.wrapper-social-media .description-container li{
	display: inline-block;
	width: 300px !important;
}
/* ====== ====== ====== ====== ====== Web Dev Section ====== ====== ====== ====== ======*/
.wrapper-web-dev{
	background: url(../img/webdevelopment.jpg) no-repeat center center; 
}
.wrapper-web-dev .description-container{
	background-color: #88A854;
	padding: 80px 0 80px 0;
}	
.wrapper-web-dev .description-container	h2{
	color: white;
	font-family: "Lato",sans-serif;
	letter-spacing: .2px;
	font-weight: lighter;
}	
.wrapper-web-dev .description-container	li{
	font-size: 21px;
}
/* ====== ====== ====== ====== ====== Portfolio Section ====== ====== ====== ====== ======*/
.wrapper-portfolio{
	background: url(../img/portfolio.jpg) no-repeat center center;
}
/* ====== ====== ====== ====== ====== Seo Section ====== ====== ====== ====== ======*/
.wrapper-seo{
	background: url(../img/seo.jpg) no-repeat center center;
}
.wrapper-seo .description-container{
	background-color: #F1656A;
	padding: 60px 0 60px 0;	
}	
.wrapper-seo .description-container	li{
	padding: 8px 0 0 0;
}
/* ====== ====== ====== ====== ====== Branding Section ====== ====== ====== ====== ======*/ 
.wrapper-branding{
	background: url(../img/branding.jpg) no-repeat center center; 
}
.wrapper-branding .description-container{
	background-color: #C66339;
}
.wrapper-branding .description-container ul{
	padding: 35px 0 35px 0;
}
.wrapper-branding .description-container li{
	padding: 8px 0 0 0;
}